body {
  margin: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #434f53;
  overflow-x: hidden;
}
.icon:hover {
  color: #ec4787;
  cursor: pointer;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.icon_ul {
  padding-bottom: 15px;
}
.icon {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
}
.nav {
  display: inline-block;
  margin-right: 15px;
}
.nav a {
  text-decoration: none;
  color: #232323;
  font-weight: 300;
  opacity: 0.8;
  font-family: "Montserrat", sans-serif;
}
.nav_ul {
  padding-top: 15px;
}
.active a {
  color: #ec4787;
}
.nav a:hover {
  color: #ec4787;
}
.dropdown {
  display: inline-block;
  position: relative;
  z-index: 5;
}
.drop_cont {
  display: none;
  position: absolute;
  min-width: 160px;
  padding: 20px 15px;
  background-color: #f7f7f7;
  transition: 0.3s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.drop_cont li {
  padding: 5px;
}
.dropdown:hover .drop_cont {
  display: block;
}
.bake {
  font-size: 30px;
  color: black;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}
.lei {
  color: #ec4787;
}
.call {
  justify-content: flex-end;
  align-items: flex-end;
  opacity: 0.8;
}
.call p a {
  color: black;
  text-decoration: none;
}
input[type="text"] {
  height: 35px;
  width: 100%;
  border: 1px solid rgb(192, 187, 187);
  outline: none;
  font-size: 17px;
  padding: 2px 10px;
}
input[type="text"]:focus {
  border: 1px solid rgb(192, 187, 187);
}
.search {
  position: absolute;
  top: 7px;
  right: 0;
  font-size: 21px;
  padding-right: 14px;
  opacity: 0.4;
}
.search:hover {
  cursor: pointer;
  color: #ec4787;
  opacity: 1;
}
.icon1 {
  display: inline-block;
  margin-right: 30px;
  font-size: 25px;
  letter-spacing: 0px;
}
.no {
  margin: 0;
}
.input_icon {
  flex-wrap: wrap;
  position: relative;
}
.icon1:hover sup {
  background-color: black;
}
.icon1:hover {
  color: #ec4787;
}
sup:hover .icon1 {
  color: #ec4787;
}
sup {
  font-size: 13px;
  border-radius: 50%;
  background-color: #ec4787;
  color: white;
  position: absolute;
  top: 0;
  margin-left: -7px;
  letter-spacing: 0px;
  height: 17px;
  width: 17px;
  text-align: center;
}
section::after {
  display: table;
  content: "";
  clear: both;
  padding: 0 10px;
}
.enjoy {
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #000000;
  font-size: 70px;
  line-height: 1.2;
  margin-bottom: 0;
}
.enjoy span em {
  color: #ec4787;
  font-family: "Playfair Display", serif;
}
.home_img {
  width: 100%;
}
.here {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 0;
}
.btn_div {
  padding-bottom: 35px;
  padding-top: 14px;
}
.btn_div button {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #000000;
  border: 2px solid black;
  transition: 0.3s;
  min-width: 200px;
  padding: 17px 15px;
  font-size: 16px;
  text-align: center;
  margin-top: 14px;
}
.btn_div button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.hide_div a {
  text-decoration: none;
  color: #434f53;
  font-size: 20px;
  padding: 5px;
  font-weight: 400;
}
.hide_div a {
  cursor: auto;
}
.home:hover {
  color: #ec4787;
  cursor: pointer;
}
.car_ul .open a {
  color: #ec4787;
}
.car_ul {
  padding-top: 15px;
}
.car_ul li a {
  text-decoration: none;
  color: black;
  font-size: 17px;
}
.car_ul li a:hover {
  color: #ec4787;
  cursor: pointer;
}
.coll {
  font-weight: 700;
  font-style: italic;
  font-family: "Playfair Display", serif;
  color: black;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 12px;
}
.border {
  border-bottom: 1px solid #f3f3f3;
  font-size: 19px;
  padding-top: 15px;
}
input[type="number"] {
  width: 100%;
  border: 1px solid #ddd;
  outline: none;
  padding: 5px;
}
.price {
  display: flex;
}
.num {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.brand {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
}
.brand p {
  color: #434f53;
}
.btn {
  display: flex;
  align-items: center;
}
.btn .apply {
  padding: 17px 15px;
  font-size: 16px;
  text-align: center;
  min-width: 104px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
  background-color: #000000;
  color: white;
  transition: 0.3s;
  margin: 20px 10px 10px 10px;
}
.btn .apply:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.btn .clear:hover {
  background-color: #000000;
  color: white;
  cursor: pointer;
}
.clear {
  padding: 17px 15px;
  font-size: 16px;
  text-align: center;
  min-width: 104px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
  background-color: white;
  transition: 0.3s;
  margin: 20px 10px 10px 10px;
}
#label1 {
  display: none;
}
#label2 {
  display: none;
}
#label3 {
  display: none;
}
#down_arrow1,
#down_arrow2,
#down_arrow3 {
  cursor: pointer;
}
#up_arrow1,
#up_arrow2,
#up_arrow3 {
  display: none;
  cursor: pointer;
}
#home {
  display: block;
}
.main_div {
  position: relative;
}
.h1 {
  font-weight: 700;
  font-style: normal;
  font-family: "Playfair Display", serif;
  color: #000000;
  font-size: 46px;
  line-height: 1.2;
  margin: 0 0 30px 0;
}
.sec_div p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  color: #434f53;
  text-overflow: ellipsis;
  overflow: hidden;
}
.padding {
  padding-top: 15px;
  padding-bottom: 35px;
}
.select_div {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.img1 {
  width: 100%;
}
.three_cake_div_cont:hover {
  box-shadow: 0 0 5px rgb(196, 189, 189), 0 0 10px white;
  cursor: pointer;
}
.right button {
  float: right;
  background-color: #f62f5f;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 16px;
  margin: 0;
}
.cont {
  text-align: center;
}
.cont p a {
  color: #434f53;
  text-decoration: none;
  white-space: nowrap;
  font-size: 19px;
}
.cont p a:hover {
  color: #ec4787;
  cursor: pointer;
}
.rs i {
  font-weight: 400;
  font-style: italic;
  font-family: "Playfair Display", serif;
  color: black;
  font-size: 24px;
  line-height: 1.2;
}
.rs del {
  font-weight: 400;
  font-style: italic;
  font-family: "Playfair Display", serif;
  color: #a5a5a5;
  font-size: 24px;
  line-height: 1.3;
  margin-left: 5px;
}
.cont button {
  padding: 11px 22px;
  font-size: 15px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  background-color: #2e2e2e;
  transition: 0.3s;
  border: none;
  cursor: pointer;
}
.cont button:hover {
  background-color: #ec4787;
}
label {
  font-size: 17px;
}
.instagram {
  text-align: center;
}
.h1_instra em {
  font-family: "Playfair Display", serif;
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  transition: 0.3s;
}
.instagram_div1 {
  padding-top: 70px;
}
.h1_instra {
  margin: 10px;
}
.h1_instra em:hover {
  color: #ec4787;
  cursor: pointer;
}
.image {
  opacity: 1;
  width: 100%;
  height: auto;
  display: block;
  backface-visibility: hidden;
  cursor: pointer;
  transition: 0.3s;
}
.center {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: 0.3s ease;
}
.icon_instra {
  color: white;
  font-size: 40px;
  cursor: pointer;
  transition: 0.4s;
}
.foot_img1:hover .image {
  opacity: 0.6;
}
.foot_img1:hover .center {
  opacity: 1;
}
input[type="email"] {
  font-size: 14px;
  padding: 16px 24px;
  color: #d30000;
  background-color: #f5f5f5;
  border: 1px solid #ec4787;
  outline: none;
}
.foot_div_cont p em {
  font-weight: 400;
  font-style: italic;
  font-family: "Playfair Display", serif;
  color: #000000;
  font-size: 24px;
  line-height: 1.2;
}
.foot_div_cont button {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  color: #ffffff;
  background-color: #000000;
  padding: 13px 15px;
  font-size: 16px;
  text-align: center;
  min-width: 149px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid black;
}
.foot_div_cont button:hover {
  background-color: white;
  color: black;
}
.bake1 {
  text-align: center;
  font-size: 30px;
  color: black;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  margin: 10px 0 20px 0;
}
.li a span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}
.li:hover a span {
  background-color: black;
  color: white;
}
.side {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
}
.loca_call {
  font-size: 20px;
  color: #ec4787;
}
.loc {
  margin: 0 14px;
  font-size: 16px;
  line-height: 1.5;
}
.last {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
div {
  display: block;
}
.best {
  font-weight: 700;
  font-style: normal;
  font-family: "Playfair Display", serif;
  color: #000000;
  font-size: 46px;
  line-height: 1.2;
  margin: 0;
}
.best_para {
  color: #6a667f;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  line-height: 1.3;
}
.cake_div_cont:hover {
  box-shadow: 0 0 5px rgb(196, 189, 189), 0 0 10px white;
  cursor: pointer;
}
.cake_div_cont p {
  color: black;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: "Montserrat", sans-serif;
}
.cake_div_cont p:hover {
  color: #ec4787;
  cursor: pointer;
}
.right1 button {
  float: right;
  background-color: #6ad7a3;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 16px;
  margin: 0;
}

.three_cake_img_cont:hover {
  transform: rotateY(-180deg);
}
.rela {
  position: relative;
}
.absolute {
  position: absolute;
  top: 37%;
  left: 34%;
  color: white;
  font-weight: 700;
  font-style: normal;
  font-family: "Playfair Display", serif;
  font-size: 70px;
}
.absolute p {
  margin: 0;
  text-align: center;
}
.our {
  filter: blur(0px) grayscale(0%) opacity(100%);
}
.new {
  font-weight: 700;
  font-style: normal;
  font-family: "Playfair Display", serif;
  color: #000000;
  font-size: 46px;
  line-height: 1.2;
  margin: 0;
}
.img_div {
  padding-top: 70px;
}
.img_div_cont {
  text-align: center;
}
.image1 {
  opacity: 1;
  height: auto;
  display: block;
  backface-visibility: hidden;
  cursor: pointer;
  transition: 0.3s ease;
}
.multiple_img:hover .image1 {
  opacity: 0.6;
}
.multiple_img:hover .center {
  opacity: 1;
}
.order_here_div_cont h1 {
  font-weight: 700;
  font-style: italic;
  font-family: "Playfair Display", serif;
  color: black;
  font-size: 28px;
  margin-top: 20px;
}
.order_here_div_cont p {
  font-family: "Montserrat", sans-serif;
  color: #6a667f;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  text-indent: 24px;
}
.order_here_div_cont button {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #000000;
  border: 2px solid black;
  transition: 0.3s;
  min-width: 200px;
  padding: 17px 15px;
  font-size: 16px;
  text-align: center;
  background-color: white;
}
.order_here_div_cont button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.two_img_cont h1 a {
  color: black;
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s;
  text-align: justify;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  line-height: 1.3;
  padding: 0 35px 15px 35px;
  margin: 0;
}
.two_img_cont p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  padding: 0 35px 15px 35px;
  margin: 0;
}
.two_img_cont p button {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  color: #ffffff;
  background-color: #000000;
  padding: 13px 15px;
  font-size: 16px;
  text-align: center;
  min-width: 149px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid black;
}
.two_img_cont p button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.instagram_div {
  padding: 70px 15px 15px 15px;
  margin: auto;
}

.email {
  border: none;
}
.email:focus {
  border: 1px solid red;
}

#best_seller {
  display: block;
}

.turtle h3 {
  font-weight: 700;
  font-style: italic;
  font-family: "Playfair Display", serif;
  color: #ec4787;
  font-size: 28px;
  line-height: 1.2;
}

.ul_li_div li {
  width: 200px;
  margin-right: 10px;
  padding: 10px;
}
.quentity label {
  margin: 10px;
}
.quentity input {
  margin: 10px;
  width: 120px;
}
.ten {
  padding: 10px;
}

.descript {
  color: #6a667f;
}
.descip div {
  margin-right: 30px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 700;
  font-size: 28px;
  transition: 0.3s;
  color: black;
}
.descip div:hover {
  color: #6a667f;
  cursor: pointer;
}
.wel {
  padding: 15px;
}
.wel h1 {
  font-weight: 400;
  font-family: "Playfair Display", serif;
  color: black;
  margin: 10px 0;
  font-size: 28px;
  line-height: 1.2;
}
.wel p {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: rgb(71, 70, 70);
  font-size: 18px;
  line-height: 1.3;
  margin: 10px 0;
}

.turtle_cake_side_div .right button {
  float: right;
  background-color: #f62f5f;
  border: none;
  padding: 3px 10px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 16px;
  margin: 0;
  font-weight: 600;
}

.rs_div h3 {
  font-weight: 700;
  font-style: italic;
  font-family: "Playfair Display", serif;
  color: #ec4787;
  font-size: 28px;
  line-height: 1.2;
  margin: 0 42px 0 0;
}
.rs_div h4 {
  font-weight: 700;
  font-style: italic;
  font-family: "Playfair Display", serif;
  color: #6a667f;
  font-size: 28px;
  line-height: 1.2;
  text-decoration: line-through;
  margin: 0;
}

.black_div {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  overflow: hidden !important;
  background: #0b0b0b;
  opacity: 0.9;
  cursor: zoom-out;
  display: flex;
  align-items: center;
  justify-self: center;
}
.black_div_show_img {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  z-index: 1045;
  background: #0b0b0b;
  opacity: 1;
}
.close button {
  float: right;
  background-color: #0b0b0b;
  opacity: 0.8;
  color: white;
  border: none;
  outline: none;
  font-size: 24px;
  cursor: pointer;
  display: block;
}
.number {
  float: right;
  opacity: 0.8;
  color: white;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px;
}
.left {
  font-size: 25px;
  cursor: pointer;
  padding: 10px;
}
.left:hover {
  color: white;
}
.right {
  font-size: 25px;
  cursor: pointer;
  margin: 0;
}
.right:hover {
  color: white;
}

#count_num {
  color: white;
}

.img2 {
  width: 100%;
  height: 300px;
  opacity: 1;
}
.black_div_show_img {
  height: auto;
  width: auto;
  padding: 40px 0;
  max-width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 40px 0;
  margin: 0 auto;
}
#black_div_close {
  display: none;
}
#close_img_div {
  display: none;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
#close_div {
  display: none;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.shoping_div {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 35px;
  border-bottom: 1px solid rgb(126, 122, 122);
}
.shoping_div h2 {
  font-weight: 400;
  font-family: "Playfair Display", serif;
  color: black;
  font-size: 30px;
}
.shoping_div button {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #000000;
  border: 2px solid black;
  transition: 0.3s;
  min-width: 200px;
  padding: 17px 15px;
  font-size: 20px;
  text-align: center;
  background-color: white;
}
.shoping_div button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.tag a {
  color: black;
  padding-right: 10px;
}
.pink {
  color: #ec4787;
}
.salt {
  transition: 0.3s;
  margin: 0;
}
.salt:hover {
  color: #ec4787;
  cursor: pointer;
}
.padding3 {
  padding: 0 20px;
}
.img4 {
  width: 100%;
  height: 225px;
}
.pagination ul li {
  display: inline-block;
  border: 1px solid black;
  padding: 10px 15px;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
}
.pagination {
  padding: 0 25px;
}
.pagination li:hover {
  color: #ec4787;
  border: 1px solid #ec4787;
  cursor: pointer;
}
#blog {
  display: block;
}
#menu button {
  display: block;
  color: white;
  background-color: #ec4787;
  cursor: pointer;
  border: none;
  font-size: 20px;
  padding: 10px;
}

@media (max-width: 992px) {
  .App1 {
    padding: 15px;
    background-color: white;
    box-shadow: 0 0 4px rgb(148, 146, 146), 0 0 6px rgb(204, 200, 200);
    padding-top: 35px;
  }
  .icon_nav {
    flex: 100%;
    max-width: 100%;
    text-align: center;
  }

  #menu {
    display: none;
  }
  .img5 {
    width: 183%;
    height: 225px;
  }
  #menu {
    text-align: center;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu_list {
    text-align: left;
    border: 1px solid #ec4787;
    width: 100%;
    position: absolute;
    top: 45px;
    z-index: 5;
    background-color: white;
  }
  .menu_list li {
    padding: 8px 15px;
    font-size: 18px;
    cursor: pointer;
  }
  #navigation {
    display: none;
  }
  #none {
    display: none;
  }
  .bakelei {
    flex: 100%;
    max-width: 100%;
    text-align: center;
  }
  .input_div {
    text-align: center;
    padding: 0 25px;
  }
  .input_icon1 {
    margin-top: 20px;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    cursor: pointer;
  }
  .input_icon {
    flex-wrap: wrap;
    position: relative;
  }
  .home_div_content {
    flex: 56.66%;
    max-width: 56.66%;
    padding: 30px 79px 100px 100px;
  }
  .home_div_img {
    background-image: url(images/home-bg.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  section {
    width: 100%;
  }
  .hide_div {
    padding: 40px;
    background-color: #f6f6f6;
    width: 91%;
  }
  .collec_bakery_div {
    max-width: 1090px;
    margin: auto;
    display: flex;
    padding: 20px;
    gap: 30px;
  }

  select {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
  }

  .show_sort {
    flex: 33.33%;
    max-width: 33.33%;
    margin: 0 10px;
  }
  .three_cake_div_cont {
    flex: 33.33%;
    max-width: 33.33%;
    transition: 0.3s;
    margin-bottom: 30px;
    background: white;
    border: 1px solid #e5e5e5;
    padding: 20px;
    margin: 10px 10px 23px 10px;
    font-family: "PT Sans", sans-serif;
  }
  .instagram_div {
    max-width: 1200px;
    margin: auto;
    text-align: center;
  }
  .foot_img1 {
    flex: 25%;
    max-width: 25%;
    margin: 10px;
    position: relative;
    width: 100%;
    background-color: #ec4787;
    transition: 0.3s;
  }

  .foot_div_cont {
    flex: 100%;
    max-width: 100%;
    text-align: center;
    padding: 35px 15px 10px 15px;
    border-bottom: 1px solid rgb(212, 209, 209);
  }
  .foot_div_cont ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .foot_img_div {
    display: flex;
    padding: 0 0 20px 0;
    border-bottom: 1px solid darkgray;
  }
  .cake_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .box {
    background-color: white;
    max-width: 36%;
    flex: 36%;
    transition: 0.3s;
    margin-bottom: 30px;
    background: white;
    border: 1px solid #e5e5e5;
    padding: 20px;
    margin: 10px 10px 10px 10px;
    font-family: "PT Sans", sans-serif;
    transition: 0.3s;
  }
  .cake_div_cont {
    background-color: white;
    max-width: 41%;
    flex: 41%;
    transition: 0.3s;
    margin-bottom: 30px;
    background: white;
    border: 1px solid #e5e5e5;
    padding: 20px;
    margin: 10px 10px 10px 10px;
    font-family: "PT Sans", sans-serif;
    transition: 0.3s;
  }
  .three_cake_img_cont {
    flex: 100%;
    max-width: 100%;
    transition: 0.3s;
    margin-bottom: 30px;
    margin: 10px;
    font-family: "PT Sans", sans-serif;
    transition-duration: 1s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
  }
  .multiple_img_div {
    display: flex;
  }
  .multiple_img_div_con {
    flex: 30.33%;
    max-width: 30.33%;
    margin: 10px;
  }
  .order_here_div {
    width: 100%;
  }
  .order_here_div_cont {
    flex: 100%;
    max-width: 100%;
    margin: 10px;
    background-color: white;
    padding: 35px;
    text-align: center;
    border: 1px solid white;
    transition-duration: 0.4s;
    box-shadow: 0px 4px 20px 0px rgba(10, 10, 10, 0.2);
  }

  .two_img_cont_div {
    padding: 20px;
  }
  .two_img_cont {
    flex: 100%;
    max-width: 100%;
  }
  .cake_div {
    display: flex;
  }
  .three_cake_div {
    display: flex;
    position: relative;
    flex-wrap: wrap;
  }
  .img_height2 {
    height: 165px;
  }
  .turtle_cake_side_div {
    flex: 50%;
    max-width: 50%;
  }
  .ul_li_div ul {
    display: flex;
    justify-content: space-between;
  }
  .descip {
    display: flex;
    justify-content: flex-start;
    padding: 15px;
  }
  .turtle {
    flex: 50%;
    max-width: 50%;
  }
  .rs_div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .related_div {
    max-width: 1200px;
    margin: auto;
    padding-top: 70px;
  }
  .padding_top {
    padding-top: 70px;
  }
  .img_and_cont {
    display: flex;
    padding: 15px;
  }
  .img_cont {
    flex: 50%;
    max-width: 50%;
  }
  .sec_div {
    padding: 15px 0 0 30px;
  }
  .multiple_img {
    position: relative;
    width: 100%;
    background-color: #ec4787;
    margin: 20px;
    opacity: 1;
  }
  .cart_item {
    margin: 20px;
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }
  #root1 {
    display: flex;
    flex-wrap: wrap;
  }
  .root1 {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .App1 {
    padding: 15px;
    background-color: white;
    box-shadow: 0 0 4px rgb(148, 146, 146), 0 0 6px rgb(204, 200, 200);
    padding-top: 35px;
  }
  .h1 {
    font-size: 36px;
  }
  .btn .apply {
    font-size: 15px;
  }
  .foot_div_cont ul {
    display: flex;
    column-gap: 8px;
    justify-content: center;
    align-items: center;
  }
  .foot_img_div {
    display: flex;
    border-bottom: 1px solid darkgray;
  }
  .enjoy {
    font-size: 55px;
  }
  .icon_nav {
    flex: 100%;
    max-width: 100%;
    text-align: center;
  }
  .bakelei {
    flex: 100%;
    max-width: 100%;
    text-align: center;
  }
  .turtle {
    width: 100%;
  }
  .input_div {
    flex: 100%;
    max-width: 85%;
    text-align: center;
    padding: 0 25px;
  }
  .input_icon1 {
    flex: 100%;
    max-width: 100%;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
  }
  .home_div_content {
    flex: 100%;
    max-width: 100%;
    padding: 20px;
  }
  .img5_div {
    display: none;
  }
  .img5 {
    width: 183%;
    height: 225px;
    display: none;
  }
  section {
    width: 100%;
  }
  .hide_div {
    padding: 40px;
    background-color: #f6f6f6;
  }
  #bakery {
    padding-top: 70px;
  }
  .collec_bakery_div {
    max-width: 1090px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .first_div {
    flex: 100%;
    max-width: 100%;
  }
  select {
    width: 100%;
  }
  .hide_div a {
    display: block;
  }

  .show_sort {
    flex: 100%;
    max-width: 100%;
  }
  .three_cake_div_cont {
    transition: 0.3s;
    margin-bottom: 30px;
    background: white;
    border: 1px solid #e5e5e5;
    padding: 20px;
    margin: 10px 10px 23px 10px;
    font-family: "PT Sans", sans-serif;
  }
  .instagram_div {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 70px 0 15px 15px;
  }
  .foot_img1 {
    flex: 100%;
    max-width: 100%;
    margin: 10px;
    position: relative;
    width: 100%;
    background-color: #ec4787;
    transition: 0.3s;
  }
  .foot_div_cont {
    flex: 100%;
    max-width: 100%;
    text-align: center;
    padding: 35px 15px 10px 15px;
    border-bottom: 1px solid rgb(212, 209, 209);
  }
  .cake_div_cont {
    background-color: white;
    max-width: 100%;
    flex: 100%;
    transition: 0.3s;
    margin-bottom: 30px;
    background: white;
    border: 1px solid #e5e5e5;
    padding: 20px;
    margin: 10px 10px 30px 10px;
    font-family: "PT Sans", sans-serif;
    transition: 0.3s;
  }
  .three_cake_img_cont {
    flex: 100%;
    max-width: 100%;
    transition: 0.3s;
    margin-bottom: 30px;
    margin: 10px;
    font-family: "PT Sans", sans-serif;
    transition-duration: 1s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
  }
  .sec_div {
    flex: 75% 1;
    max-width: 100%;
    padding: 15px 0 0 6px;
  }
  .multiple_img_div {
    display: flex;
  }
  .multiple_img_div_con {
    flex: 100%;
    max-width: 100%;
    margin: 5px;
  }
  .multiple_img {
    margin: 0;
  }
  .order_here_div_cont {
    flex: 100%;
    max-width: 100%;
    margin: 10px;
    background-color: white;
    padding: 35px;
    text-align: center;
    border: 1px solid white;
    transition-duration: 0.4s;
    box-shadow: 0px 4px 20px 0px rgba(10, 10, 10, 0.2);
  }
  .two_img_cont_div {
    padding-top: 35px;
  }
  .two_img_cont {
    flex: 100%;
    max-width: 100%;
  }
  .turtle_cake_div_cont {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .turtle_cake_side_div {
    flex: 100%;
    max-width: 100%;
  }
  .ul_li_div ul {
    display: flex;
  }
  .descip {
    padding: 15px;
  }
  .related_div {
    max-width: 1200px;
    margin: auto;
    padding-top: 70px;
  }
  .padding_top {
    padding-top: 70px;
  }
  .img_and_cont {
    padding: 15px;
  }
  .img_cont {
    flex: 100%;
    max-width: 100%;
  }
  .home_div_img {
    background-image: url(images/home-bg.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 101%;
  }
  #navigation {
    display: none;
  }
  #menu {
    text-align: center;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #none {
    display: none;
  }
  .pink_home {
    background-color: #ec4787;
    color: white;
  }

  .menu_list {
    text-align: left;
    border: 1px solid #ec4787;
    width: 100%;
    position: absolute;
    top: 45px;
    z-index: 5;
    background-color: white;
  }
  .menu_list li {
    padding: 8px 15px;
    font-size: 18px;
    cursor: pointer;
  }
  .cart_item {
    margin: 20px;
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }
}

@media (min-width: 993px) {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
  }
  #navigation {
    display: block;
  }
  #menu {
    display: none;
  }
  .img5 {
    width: 100%;
    height: 225px;
  }
  .best_seller_class {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  #navigation {
    display: block;
  }
  #none {
    display: block;
  }
  .height {
    height: 240px;
  }
  #root {
    display: flex;
    flex-wrap: wrap;
  }

  .foot_div_cont ul {
    display: flex;
    column-gap: 8px;
    justify-content: center;
    align-items: center;
  }
  .foot_img_div {
    display: flex;
    padding: 35px 20px;
    border-bottom: 1px solid darkgray;
  }

  .App1 {
    padding: 15px;
    display: flex;
    background-color: white;
    box-shadow: 0 0 4px rgb(148, 146, 146), 0 0 6px rgb(204, 200, 200);
    z-index: 3;
    padding-top: 35px;
  }
  .turtle {
    padding: 0 15px;
  }

  .icon_nav {
    flex: 41.66%;
    max-width: 41.66%;
  }
  .bakelei {
    flex: 16.66%;
    max-width: 16.66%;
  }
  .input_div {
    flex: 41.66%;
    max-width: 41.66%;
    padding: 0 25px;
  }
  .input_icon1 {
    margin-top: 20px;
    flex: 50%;
    max-width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    cursor: pointer;
  }
  .input_icon {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .home_div_content {
    flex: 41.66%;
    max-width: 41.66%;
    padding: 150px 100px 100px 100px;
  }
  .home_div_img {
    background-image: url(images/home-bg.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 850px;
  }

  .hide_div {
    padding: 40px;
    background-color: #f6f6f6;
    width: 100%;
  }
  .collec_bakery_div {
    max-width: 1090px;
    margin: auto;
    display: flex;
    padding: 50px 20px 70px;
  }
  .first_div {
    flex: 25%;
    max-width: 25%;
  }
  select {
    width: 50%;
    padding: 10px;
    border: 1px solid black;
  }

  .show_sort {
    flex: 33.33%;
    max-width: 33.33%;
  }
  .three_cake_div_cont {
    flex: 25.33%;
    max-width: 25.33%;
    transition: 0.3s;
    margin-bottom: 30px;
    background: white;
    border: 1px solid #e5e5e5;
    padding: 20px;
    margin: 10px 10px 23px 10px;
    font-family: "PT Sans", sans-serif;
  }
  .instagram_div {
    max-width: 1200px;
    margin: auto;
    text-align: center;
  }
  .foot_img1 {
    flex: 25%;
    max-width: 25%;
    margin: 10px;
    position: relative;
    width: 100%;
    background-color: #ec4787;
    transition: 0.3s;
  }
  .foot_div {
    display: flex;
  }
  .foot_div_cont {
    flex: 33.33%;
    max-width: 33.33%;
    text-align: center;
    padding: 35px 15px 10px 15px;
    border-bottom: 1px solid rgb(212, 209, 209);
  }
  .cake_div {
    display: flex !important;
    flex-wrap: nowrap;
  }
  #bakery, #turtle_cake_div,  #honey_cake_div,   #chocolate_cake_div, #nute_cup_cake_div,   #carrot_cake_div,  #sponge_cake_div,  #cup_cake_div,  #basic_sponge_cake_div, #shopping_cake_div , #cup_cake_div,  #basic_sponge_cake_div,  #shopping_cake_div,  #blog,  #pumpkin  {
    padding-top: 164px;
  }
  /* #turtle_cake_div {
    padding-top: 164px;
  }
  #honey_cake_div {
    padding-top: 164px;
  }
  #chocolate_cake_div {
    padding-top: 164px;
  }
  #nute_cup_cake_div {
    padding-top: 164px;
  }
  #carrot_cake_div {
    padding-top: 164px;
  }
  #sponge_cake_div {
    padding-top: 164px;
  }
  #cup_cake_div {
    padding-top: 164px;
  }
  #basic_sponge_cake_div {
    padding-top: 164px;
  }
  #shopping_cake_div {
    padding-top: 164px;
  }
  #blog {
    padding-top: 164px;
  }
  #pumpkin {
    padding-top: 164px;
  } */
  .box {
    background-color: white;
    max-width: 25%;
    flex: 25%;
    transition: 0.3s;
    margin-bottom: 30px;
    background: white;
    border: 1px solid #e5e5e5;
    padding: 20px;
    margin: 10px 10px 10px 10px;
    font-family: "PT Sans", sans-serif;
    transition: 0.3s;
  }
  .cake_div_cont {
    background-color: white;
    max-width: 25%;
    flex: 25%;
    transition: 0.3s;
    margin-bottom: 30px;
    background: white;
    border: 1px solid #e5e5e5;
    padding: 20px;
    margin: 10px 10px 10px 10px;
    font-family: "PT Sans", sans-serif;
    transition: 0.3s;
  }
  .three_cake_img_cont {
    flex: 100%;
    max-width: 100%;
    transition: 0.3s;
    margin-bottom: 30px;
    margin: 10px;
    font-family: "PT Sans", sans-serif;
    transition-duration: 1s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
  }
  .absolute {
    position: absolute;
    top: 20%;
    left: 19%;
    color: white;
    font-weight: 700;
    font-style: normal;
    font-family: "Playfair Display", serif;
    font-size: 70px;
  }
  .order_here_div {
    display: flex;
  }
  .multiple_img_div {
    display: flex;
  }
  .multiple_img_div_con {
    flex: 33.33%;
    max-width: 33.33%;
    margin: 10px;
  }

  .order_here_div_cont {
    flex: 100%;
    max-width: 100%;
    margin: 10px;
    background-color: white;
    padding: 35px;
    text-align: center;
    border: 1px solid white;
    transition-duration: 0.4s;
    box-shadow: 0px 4px 20px 0px rgba(10, 10, 10, 0.2);
  }

  .two_img_cont_div {
    display: flex;
    padding: 20px;
  }
  .two_img_cont {
    flex: 50%;
    max-width: 50%;
  }

  .three_cake_div {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
  }
  .shop_now_div {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .turtle_cake_div_cont {
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .turtle_cake_side_div {
    flex: 50%;
    max-width: 50%;
    padding: 0 15px;
  }
  .ul_li_div ul {
    display: flex;
    justify-content: space-between;
  }
  .descip {
    display: flex;
    justify-content: flex-start;
    padding: 15px;
  }
  .rs_div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .related_div {
    max-width: 1200px;
    margin: auto;
    padding-top: 70px;
  }
  .padding_top {
    padding-top: 70px;
  }
  .img_and_cont {
    display: flex;
    padding: 15px;
  }
  .img_cont {
    flex: 50%;
    max-width: 50%;
  }
  .sec_div {
    padding: 15px 0 0 30px;
  }
  .multiple_img {
    position: relative;
    width: 100%;
    background-color: #ec4787;
    margin: 20px;
    opacity: 1;
  }
  .cart_item {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: 20px;
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }
  .root2 {
    display: flex !important;
  }
}

#cartitem {
  text-align: center;
}

.rowimg {
  height: 80px;
  width: 80px;
  border: 10px solid #ddd;
  padding: 20px;
}
.total_div {
  text-align: center;
}
#total {
  margin: 0;
}
.cart_item p {
  font-size: 20px;
}
.delete {
  color: #ec4787;
  cursor: pointer;
}
